* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto";
  color: #5c5b5b;
}

header img {
  width: 80%;
  height: auto;
}

main img {
  width: 100%;
  height: auto;
}

header,
footer {
  text-align: center;
  background-color: #f8f7f7;
  padding: 0.5em;
}

a {
  text-decoration: none;
}
li {
  text-transform: uppercase;
  font-weight: bold;
  list-style-type: none;
  padding: 1vh;
  margin: 0.4vh;
  background-color: white;
}

.profile-photo {
  padding-top: 2em;
  padding-bottom: 1em;
}

.main-wrap {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

main h1,
footer h1 {
  text-transform: uppercase;
  font-size: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

p {
  font-size: 1.1em;
}

.footer1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

footer div {
  display: flex;
  justify-content: space-between;
}

.bottom ul {
  display: none;
}
.bottom p {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .main-nav ul,
  .profile-photo {
    display: flex;
  }
  .main-nav ul {
    justify-content: center;
  }

  ul li {
    background-color: #f8f7f7;
  }
  .profile-photo img {
    order: 2;
    width: 45%;
    height: auto;
  }
  .profile-photo p {
    text-align: left;
    margin-right: 1.5em;
    margin-top: 0;
  }
  .profile-photo {
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
  }

  .wraper {
    display: flex;
    flex-wrap: wrap;
  }
  .wraper div {
    flex: 1;
    flex-basis: 45%;
    margin: 0.3em;
  }

  .bottom p:nth-last-child(2) {
    display: none;
  }
  .bottom p {
    font-weight: bold;
  }
  .bottom ul {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .header1 {
    display: flex;
    justify-content: space-between;
    margin: 0 1.5em;
  }
  .profile-photo img {
    width: 120%;
    height: auto;
  }
  .profile-photo p {
    font-size: 1.5em;
  }
  .wraper div {
    flex: 1;
    flex-basis: 30%;
  }
  .footer1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .footer1 p:nth-child(1) {
    margin-left: 16em;
    margin-right: 16em;
  }
}
